

@media (max-width: 768px){
    .main{width: 750px;} 
    header{font-size: 25px;} 
    .thamuda {font-size: 25px;color:white;}
    .thbolda {font-size: 25px;color:blue; max-width: 350px; margin-left: 10px;}
    .thbold {font-size: 25px;color:white; max-width: 350px;}
    label{font-size: 20px;}
    .logo{margin-right:280px;}
    
    .tblkota{font-size: 25px !important;color: green !important;}
    th{
     .thkotsik{color: white;font-size: 25px;}
     text-align: center ;
     background-color: blue;
     color: white;
   }
    .tblkot{
      font-size: 25px;  
     color: gold;
     font-weight: bold;
    margin: 5px 10px;
    }
   body {
   
     display: flex;
     justify-content: center;         
     font-family: Arial, sans-serif;
     margin: 0;
     padding: 0;
     background-color:white;
     color: blue;
     padding: 0%;
     margin:0%;
   }
   .main{
     display: flex;
     flex-direction: column;
   }
   header{display: flex;
     justify-content: right;
   }
   table, tr,  td, th{
     border:1px solid black;
     text-align: center ;
    font-size: 25px
   }
   
    .choosesikon{font-size: 25px;}
   table{
     margin-top: 15px;}
   .thamuda{text-align: center;
   
     }
    
     .netunim{ margin-bottom:20px ;}
     .dmn{margin-top: 10px;}
     input,select{width: 65px;height: 30px;
       text-align: center;font-size: 25px;}
       .tozaakot{font-size: 25px;color: green;font-weight: bold;margin: 35px 0px 20px 0px;}
       .textgreen{color: green; font-weight: bold;font-size: 25px;margin-right: 20px;}
       .tbltozza{margin-top: 15px;display: none;}
   
   .tdemza{width: 175px;}
   .thbold{text-align: right;
           padding-right: 5px;
          max-width: 350px;}

   
   .netunylakuach{
    display: none;
    flex-direction: column;
   align-items: right;
}


.arba{min-width: 300px;}
   }
   
   @media (min-width: 767px){
    .tblkota{font-size: 25px !important;color: green !important;}
     .main{width: 850px;} 
     header{font-size: 50px;}
     .thamuda {font-size: 25px;color:white;}
    .thbolda {font-size: 25px;color:blue;  max-width: 350px;}
    .thbold {font-size: 25px;color:white;}
     .logo{margin-right:320px;}
     label{font-size: 30px;}
     
  .thkotsik{color: white;  font-size: 25px; }
   .tblkot{
    font-size: 25px;
     color: gold;
     font-weight: bold;
    margin: 5px 10px;
   }
   th{
     
     text-align: center ;
     background-color: blue;
     color: white;
   }
   body {
     display: flex;
     justify-content: center;         
     font-family: Arial, sans-serif;
     margin: 0;
     padding: 0;
     background-color:white;
     color: blue;
     padding: 0%;
     margin:0%;
   }
   .main{
     display: flex;
     flex-direction: column;
   }
   header{display: flex;
     justify-content: right;
   }
   table, tr,  td, th{
     border:1px solid black;
     text-align: center ;
       font-size: 22px;
   }
   table{
     margin-top: 15px;}
   .thamuda{text-align: center;
   
     }
    
     .netunim{ margin-bottom:20px ;}
     .dmn{margin-top: 10px;}
     input,select{width: 80px;height: 30px;
     text-align: center;font-size: 25px;}
     .tozaakot{display: block; font-size: 30px;
        color: green;font-weight: bold;margin: 35px 0px 5px 0px;
        border: none;
    }
    .textgreen{color: green; font-weight: bold;font-size: 25px; margin-right: 20px;}

    .tbltozza{margin-top: 15px;display: none;}
   
   .tdemza{width: 175px;}
   .thbold{text-align: right;
           padding-right: 5px;
          width: 500px;}

   
   .netunylakuach{
    display: none;
    flex-direction: column;
   align-items: right;
}

.arba{min-width: 300px;}
   }
   
   
   
   
